---
import BaseHead from "@/components/BaseHead.astro";
import CardWrapper from "@/components/CardWrapper.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

const educationList = [
  {
    title: "Web Development Bootcamp Immersive Course",
    institution: "General Assembly DC",
    logo: "/logos/general-assembly.png",
    alt: "General Assembly logo",
    year: "2016",
  },
  {
    title: "Bachelor of Arts (B.A.) in History",
    institution: "Virginia Commonwealth University",
    logo: "/logos/vcu.png",
    alt: "VCU logo",
    year: "2014",
  },
];

const experienceList = [
  {
    title: "Cloudflare",
    time: "4 Years",
    logo: "/logos/cloudflare-logo.png",
    alt: "Cloudflare logo",
    year: "2022 - Present",
  },
  {
    title: "Accruent",
    time: "18 Months",
    logo: "/logos/accruent-logo.png",
    alt: "Accruent logo",
    year: "2020 - 2021",
  },
  {
    title: "AVIXA",
    time: "18 Months",
    logo: "/logos/avixa-logo.jpeg",
    alt: "AVIXA logo",
    year: "2018 - 2019",
  },
];

const aboutMePageContent = {
  summary: "Hey there! Im Kevin Herrera, a Colombian American front-end engineer calling Austin, Texas home. Fluent in both English and Spanish, I thrive in multicultural environments, drawing inspiration from my Colombian heritage and American upbringing. As a proud puppy parent to Baby Miko, I've discovered newfound joy and responsibility. Professionally, Im passionate about collaboration and inclusive leadership, aiming to bridge diverse perspectives in the tech world. Join me as I navigate the dynamic landscape of web development, embracing creativity, growth, and meaningful connections along the way! 🚀🐶",
  education: "I graduate from Virginia Commonwealth University in 2014 with a Bachelor of Arts in History with a minor in Economics. The idea was to become a lawyer. But I quickily pivoted to web dev once I worked a few paralegal jobs and realized the career was not for me. In the fall of 2016 I attended General Assembly's Web Development Immersive course in Washington, DC. I learned the basics of web development and continue to stay up to date with the latest technologies and best practices. I am a lifelong learner and enjoy learning new things.",
  experience: "My diverse experience spans retail, food service, and paralegal roles. Yet, as a front-end engineer at AVIXA, Accruent, and Cloudflare, I found my passion. Each role honed my teamwork, communication, and coding skills."
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="About Me" description="Background" />
  </head>

  <body>
    <section class="my-8 max-w-[1240px] w-full mx-auto px-4">
      <Header />
      <div class="w-full">
        <CardWrapper class="w-full my-4">
          <div
            class="py-12 flex flex-col-reverse lg:flex-row items-center justify-between lg:space-x-8"
          >
            <div class="flex-1 mt-8 lg:mt-0 max-w-[630px]">
              <h1 class="text-bluePrimary text-3xl md:text-4xl font-bold mb-4 dark:text-darkText">
                About Me
              </h1>
              <p
                class="text-xl md:text-2xl leading-7 font-bold text-textPrimary dark:text-darkTextSecondary"
              > {aboutMePageContent.summary}
              </p>
            </div>
            <div class="max-w-sm w-full">
              <img
                src="/images/headshot.png"
                loading="lazy"
                width="400"
                alt="Kevin Herrera profile picture"
                class="rounded-full w-full"
              />
            </div>
          </div>
        </CardWrapper>
      </div>
      <div class="">
        <div
          class="w-full my-4 gap-4 grid lg:grid-cols-[2fr_1fr] auto-rows-max"
        >
          <div class="w-full">
            <CardWrapper class="h-full">
              <div class="py-6">
                <h2 class="text-bluePrimary text-3xl font-bold mb-4 dark:text-darkText">
                  Education
                </h2>
                <p class="text-textPrimary text-xl leading-6 dark:text-darkTextSecondary">
                  {aboutMePageContent.education}
                </p>
                <div class="grid sm:grid-cols-2 gap-6 mt-8">
                  {
                    educationList.map((education) => (
                      <div class="flex items-center justify-between py-4 px-4 rounded-lg bg-white dark:bg-darkBg">
                        <div class="">
                          <img
                            src={education.logo}
                            loading="lazy"
                            width="50"
                            alt={education.alt}
                            class="w-8 2xl:w-12 h-auto"
                          />
                        </div>
                        <div class="ml-2 mr-auto">
                          <h3 class="text-bluePrimary text-sm xl:text-base leading-4 font-bold dark:text-darkText">
                            {education.institution}
                          </h3>
                          <p class="text-textPrimary text-xs dark:text-darkTextSecondary">
                            {education.title}
                          </p>
                        </div>
                        <div class="">
                          <p class="text-textPrimary text-xs ml-2 2xl:text-sm dark:text-darkTextSecondary">
                            {education.year}
                          </p>
                        </div>
                      </div>
                    ))
                  }
                </div>
              </div>
            </CardWrapper>
          </div>
          <div class="w-full">
            <CardWrapper class="h-full">
              <div class="py-6">
                <h2 class="text-bluePrimary text-3xl font-bold mb-4 dark:text-darkText">
                  Experience
                </h2>
                <p class="text-textPrimary text-xl leading-6 dark:text-darkTextSecondary">
                  {aboutMePageContent.experience}
                </p>
                <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-1 mt-8">
                  {
                    experienceList.map((experience) => (
                      <div class="flex items-center justify-between py-3 px-4 rounded-lg bg-white dark:bg-darkBg">
                        <div class="">
                          <img
                            src={experience.logo}
                            loading="lazy"
                            width="50"
                            alt={experience.alt}
                            class="w-8 2xl:w-12 h-auto"
                          />
                        </div>
                        <div class="ml-2 mr-auto">
                          <h3 class="text-bluePrimary text-sm xl:text-base leading-4 font-bold dark:text-darkText">
                            {experience.title}
                          </h3>
                          <p class="text-textPrimary text-xs dark:text-darkTextSecondary">
                            {experience.time}
                          </p>
                        </div>
                        <div class="">
                          <p class="text-textPrimary text-xs ml-2 2xl:text-sm dark:text-darkTextSecondary">
                            {experience.year}
                          </p>
                        </div>
                      </div>
                    ))
                  }
                </div>
              </div>
            </CardWrapper>
          </div>
        </div>
      </div>
      <div>
        <CardWrapper>
          <div class="py-4">
            <h2 class="text-bluePrimary text-3xl font-bold dark:text-darkText">
              Photos I took 📸
            </h2>
            <div class="grid md:grid-cols-2 gap-4 my-6 auto-rows-[330px]">
              <div>
                <img
                  src="/images/photo-1.png"
                  loading="lazy"
                  width="400"
                  alt="Kevin Herrera profile picture"
                  class="w-full h-full object-cover object-center rounded-3xl"
                />
              </div>
              <div class="md:row-span-2">
                <img
                  src="/images/photo-2.png"
                  loading="lazy"
                  width="400"
                  alt="Kevin Herrera profile picture"
                  class="w-full h-full object-cover object-center rounded-3xl"
                />
              </div>
              <div>
                <img
                  src="/images/photo-3.png"
                  loading="lazy"
                  width="400"
                  alt="Kevin Herrera profile picture"
                  class="w-full h-full object-cover object-center rounded-3xl"
                />
              </div>
            </div>
          </div>
        </CardWrapper>
      </div>
      <Footer />
    </section>
  </body>
</html>
