---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");

const fearturedBlogEntries = await getCollection("blog", ({ data }) => {
  return data.featured === true;
});
console.log("allBlogPosts", allBlogPosts);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto columns-3 max-sm:columns-1 text-center my-4">
      {
        fearturedBlogEntries.map((entry) => (
          <div class="columns-2 border border-gray-300 shadow-md rounded p-4">
            <div>
              <img
                src={entry.data.image.url}
                alt={entry.data.image.alt}
                class="w-full h-40 object-cover"
              />
            </div>
            <div class="p-2">
              <div>
                <a href={`posts/${entry.slug}/`}>
                  <h2 class="line-clamp-2 text-base font-semibold mb-2">
                    {entry.data.title}
                  </h2>
                </a>
              </div>
              <div class="text-sm text-gray-600 mb-4 flex justify-evenly">
                {entry.data.tags.map((tag) => (
                  <span class="bg-green-700 text-white rounded-full py-1 px-2">
                    {`#${tag}`}
                  </span>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="container mx-auto flex justify-center my-5">
      <h1 class="tracking-wider">Herrerake</h1>
    </div>
    <div class="container mx-auto py-8">
      <h1 class="text-3xl font-semibold mb-6">Latest Articles</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          allBlogPosts.map((post) => (
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
              <img
                src="public/blog-post-1.JPG"
                alt="Article Image"
                class="w-full h-40 object-cover"
              />
              <div class="p-4">
                <a href={`posts/${post.slug}/`}>
                  <h2 class="text-xl font-semibold mb-2">{post.data.title}</h2>
                </a>
                <p class="text-sm text-gray-600 mb-4">
                  Tags: <span class="text-blue-500">#Work</span>,
                  <span class="text-blue-500">#Travel</span>
                </p>
                <p class="text-sm leading-relaxed">{post.data.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <Footer />
  </body>
</html>
