---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { getTagLabel } from "@/data/tags";

type Blog = CollectionEntry<"blog">;

const { blog } = Astro.props as { blog: Blog };
---

<a
  href={`/blog/${blog.id}`}
  class="block w-full h-full bg-cover bg-center relative overflow-hidden rounded-3xl group"
  style={{ backgroundImage: `url(${blog.data.image.url})` }}
  transition:name={`blog-card-${blog.id}`}
>
  <div
    class="backdrop-brightness-50 group-hover:backdrop-brightness-[.35] transition-all w-full h-full p-6 sm:p-8 flex flex-col items-start justify-end"
  >
    {
      blog.data.featured && (
        <span class="text-bluePrimary shadow bg-white border border-bluePrimary/40 px-4 py-1.5 rounded-full text-xs font-bold dark:bg-darkCard dark:text-darkAccent dark:border-darkAccent/40 mb-4">
          Featured
        </span>
      )
    }
    <div
      class="flex overflow-hidden relative flex-col w-full tracking-tight fill-white max-md:px-5 max-md:max-w-full bg-white dark:bg-darkCard px-6 py-4 rounded-[25px]"
    >
      <div class="flex flex-wrap gap-1.5">
        {blog.data.tags.map((tag) => (
          <span
            class="px-3 py-1 whitespace-nowrap border border-solid bg-green-600 bg-opacity-20 border-green-600 border-opacity-20 rounded-full text-xs text-green-800 dark:text-green-400"
          >
            {getTagLabel(tag)}
          </span>
        ))}
      </div>
      <div class="bg-white dark:bg-darkCard">
        <div
          class="relative mt-3.5 text-xl md:text-2xl font-bold tracking-tighter max-md:max-w-full text-bluePrimary dark:text-darkText"
          transition:name={`blog-title-${blog.id}`}
        >
          {blog.data.title}
        </div>
        <div
          class="relative mt-2 leading-5 text-gray-500 dark:text-darkTextSecondary max-md:max-w-full text-sm line-clamp-2"
        >
          {blog.data.description}
        </div>
      </div>
      <div
        class="flex sm:flex-col-reverse md:flex-row relative gap-4 items-center self-start mt-4 text-xs tracking-tight leading-5 text-gray-500 dark:text-darkTextSecondary"
      >
        <span
          class="flex gap-2 self-stretch px-3 py-2 text-sm tracking-tight leading-5 text-white rounded-md bg-sky-950 dark:bg-darkAccent dark:text-darkBg items-center"
        >
          <span class="grow">Read More</span>
          <svg
            width="9"
            height="8"
            viewBox="0 0 9 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.18183 0.818046C8.18183 0.541903 7.95797 0.318046 7.68183 0.318046L3.18183 0.318046C2.90569 0.318046 2.68183 0.541904 2.68183 0.818046C2.68183 1.09419 2.90569 1.31805 3.18183 1.31805L7.18183 1.31805L7.18183 5.31805C7.18183 5.59419 7.40569 5.81805 7.68183 5.81805C7.95797 5.81805 8.18183 5.59419 8.18183 5.31805L8.18183 0.818046ZM1.67142 7.53556L8.03539 1.1716L7.32828 0.464493L0.964318 6.82845L1.67142 7.53556Z"
              fill="white"></path>
          </svg>
        </span>
        <div
          class="flex flex-col sm:flex-row md:flex-col lg:flex-row items-center sm:space-x-4 md:space-x-0 lg:space-x-4 font-bold"
        >
          <div class="self-stretch my-auto">
            <FormattedDate date={blog.data.pubDate} />
          </div>
          <div class="self-stretch my-auto">5 minutes Read</div>
        </div>
      </div>
    </div>
  </div>
</a>
