---
// import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Footer from "../../components/Footer.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import CardWrapper from "../../components/CardWrapper.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const PortfolioEntries = await getCollection("portfolio");
  return PortfolioEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"portfolio">;
};

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const render = await entry.render();
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <section class="my-8 max-w-[1240px] mx-auto px-4">
      <Header />
      <div class="w-full my-4">
        <div class="w-full">
          <CardWrapper class="h-full">
            <div class="py-6">
              <h2
                transition:name="portfilio-title"
                class="text-bluePrimary text-3xl font-bold mb-2"
              >
                {entry.data.title}
              </h2>
              <p
                class="text-textPrimary text-sm md:text-lg divide-x divide-[#9BABBB] leading-7 -ml-2"
              >
                {
                  entry.data.tags.map((tag) => (
                    <span class="capitalize px-2">{tag}</span>
                  ))
                }
              </p>
              <img
                src={entry.data.image.url}
                alt={entry.data.title}
                class="w-full h-auto aspect-video md:aspect-[11/5] rounded-3xl mt-6"
                transition:name="portfilio-image"
              />
            </div>
          </CardWrapper>
        </div>
      </div>
      <CardWrapper><render.Content /></CardWrapper>
      <Footer />
    </section>
  </body>
</html>
